@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    margin: 1rem 0;
}

body{
    background-color: aquamarine;
}
header {
    height: 15vh;
    background-color: rgb(18, 50, 181);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1rem;
    z-index: 3; 
}

main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}

.card {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}
.mt-1{
    margin-top: 1rem;
}

.btn-delete {
    color: rgb(172, 40, 40);
    cursor: pointer;
}

.btn-detalle{
    color: rgb(46, 66, 180);
    cursor: pointer;
}

.btn-update {
    color: rgb(36, 149, 83);
    cursor: pointer;
}
.log{
    color: white;
    text-decoration: none; 
    font-size: larger; 
}
.log:hover{
    color: black;
}
.inicio{
    text-align: center;
}
.ini{
    color: black;
    text-decoration: none;
    font-size: x-large;
}
.ini:hover{
    color: blue;
}
.registro{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px;
}
form .title{
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;

}
form label{
    margin-bottom: 35px;
}
form label .fa-solid{
    font-size: 20px;
    margin-right: 10px;
}
form label input{
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px aquamarine;
    padding: 0 5px;
    font-size: 18px;
}
form label input::placeholder{
    color: rgb(37, 37, 37, 0.5);
}
form .link{
    color: #252525;
    margin-bottom: 15px;
}
form button{
    color: black;
    border: none;
    background-color: aquamarine;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}
footer {
    background-color: #24262B;
  padding: 80px 0; }
  footer .container3 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; }
    footer .container3 .footer-row {
      display: flex;
      flex-wrap: wrap;
      margin: auto; }
      footer .container3 .footer-row .footer-links {
        width: 25%;
        padding: 0 15px;
        margin: auto; }
        footer .container3 .footer-row .footer-links h4 {
          font-size: 20px;
          color: #FFFFFF;
          margin-bottom: 25px;
          font-weight: 500;
          border-bottom: 2px solid #00C3FF;
          display: inline-block;
          padding-bottom: 10px;
          display: inline-block; }
        footer .container3 .footer-row .footer-links ul li a {
          font-size: 18px;
          text-decoration: none;
          color: #BBBBBB;
          display: block;
          margin-bottom: 15px;
          transition: all .3s ease; }
          footer .container3 .footer-row .footer-links ul li a:hover {
            color: #FFFFFF;
            padding-left: 6px; }
        footer .container3 .footer-row .footer-links .social-link a {
          display: inline-block;
          min-height: 40px;
          width: 40px;
          background-color: rgba(255, 255, 255, 0.2);
          margin: 0 10px 10px 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: white;
          transition: all 0.5s ease; }
          footer .container3 .footer-row .footer-links .social-link a:hover {
            background-color: #00C3FF;
}
@media (max-width: 991px) {
    .footer-row {
      flex-direction: column;
      text-align: center;
      margin: auto; }
    .footer-links {
      width: 100%;
      margin-bottom: 30px;
      justify-content: center;
      margin: auto; } }